#bg
{
margin:0 0 0 0;
height:100%;
width:100%;
background:#ebe9e2;
}

html{margin: 0; padding: 0; border: none;}


        #login {
				position:absolute;
				margin-top:8%;
				margin-left:31%;
				font-family:sans-serif; 
				font-size: 12px;
				-webkit-user-select: none;
				color: #fff;
				background-color:#1d1711;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px; border-radius: 10px;*/
				margin: 20px;
				width: 32%;
					}

 	  
#login fieldset {
				padding: 20px;
      }
	  
input.text {
      -webkit-border-radius: 15px;
      -webkit-box-shadow: 0px 2px 15px #999;
	 		  
	  -moz-border-radius: 15px;
      -moz-box-shadow: 0px 5px 15px #777;
		
	  border-radius: 10px;
      background: #fff url(../images/formicon.png) no-repeat;
	  
	  border:none;
      
	  font-size: 14px;
      width: 100%;
      padding: 7px 8px 7px 30px;
      color:#1d1711;
      
}	  

 input#email { 
 	background-position: 4px 5px;
	}
	
 input#password { 
 	background-position: 4px -20px, 0px 0px;
	}

#login h2 {
	color: #fff;
	text-align: center;
	padding: 18px;
	margin: 0px;
	font-weight: normal;
	font-size: 24px;
	font-family: Helvetica;
	}
	
	#login p {
      position: relative;
      }
	
#LoginOld {
	width: 203px;
	height: 40px;
	border: none;
	text-indent: -9999px;
	background: url(../images/LoginAccountButton.png) no-repeat;
	cursor: pointer;
	float: right;
	}
	
	#LoginOld:hover { background-position: 0px -41px; }
	#LoginOld:active { background-position: 0px -82px; }
	
	
	
	#Home_User{
			background: url(../images/House.png) no-repeat;
			height: 37px;
			width: 37px;
			position: absolute;
			top:-5px;
		}
		
		
	
